{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bakery Website</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'styles.css' %}">
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top"> <!-- Fixed navbar -->
        <a class="navbar-brand" href="{% url 'home' %}">Bakery Logo</a>
        <div class="collapse navbar-collapse">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item"><a class="nav-link" href="{% url 'home' %}">Home</a></li>
                <li class="nav-item"><a class="nav-link" href="{% url 'product_list' %}">Products</a></li>
                {% comment %} <li class="nav-item"><a class="nav-link" href="{% url 'order_product' %}">Order</a></li> {% endcomment %}
                <li class="nav-item"><a class="nav-link" href="{% url 'feedback' %}">Feedback</a></li>
                <li class="nav-item"><a class="nav-link" href="{% url 'user_feedbacks' %}">Feedback commnet</a></li>

                <li class="nav-item">
                    <a class="nav-link" href="{% url 'total_orders' %}">Total Orders: {{ total_orders }}</a>
                </li>
            </ul>
            <ul class="navbar-nav ml-auto">
                {% if user.is_authenticated %}
                    <li class="nav-item"><a class="nav-link" href="{% url 'logout' %}">Logout</a></li>
                {% else %}
                    <li class="nav-item"><a class="nav-link" href="{% url 'login' %}">Login</a></li>
                    <li class="nav-item"><a class="nav-link" href="{% url 'register' %}">Register</a></li>
                {% endif %}
            </ul>
        </div>
    </nav>
    
    <div class="container mt-5"> <!-- Add margin-top to account for fixed navbar -->
        {% block content %}
        {% endblock %}
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
