<form action="{% url 'payment_success' %}" method="POST">
    <script
        src="https://checkout.razorpay.com/v1/checkout.js"
        data-key="{{ razorpay_merchant_key }}"
        data-amount="{{ amount }}"
        data-currency="{{ currency }}"
        data-order_id="{{ razorpay_order_id }}"
        data-buttontext="Pay with Razorpay"
        data-name="Your Website Name"
        data-description="Order Payment"
        data-image="Your Logo URL"
        data-prefill.name="{{ request.user.username }}"
        data-prefill.email="{{ request.user.email }}"
        data-theme.color="#F37254">
    </script>
    <input type="hidden" name="razorpay_payment_id" id="razorpay_payment_id">
    <input type="hidden" name="razorpay_order_id" id="razorpay_order_id">
    <input type="hidden" name="razorpay_signature" id="razorpay_signature">
</form>
